* {
    box-sizing: border-box;
}

ul {
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
    float: right;
    list-style-type: none;
}

li:first-child {
    font-weight: bold;
    font-size: 20px;
}

li:first-child,
li:last-child {
    text-transform: capitalize;
}

.header {
    width: 1390px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 20px;
    background: linear-gradient(45deg, #87cefa, #6495ed);
}

.header h1 {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

.header h2 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.photo {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.container {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 460px 460px 460px;
    grid-gap: 5px;
}

.employee {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background: linear-gradient(45deg, #87cefa, #ffffff);
    clear: both;
}

.employee:hover {
    background: linear-gradient(45deg, #ff0c02, #ffffff);
    cursor: pointer;
}

.ui-dialog {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    border-style: solid;
    border-radius: 10px;
    background: linear-gradient(45deg, #87cefa, #ffffff);
}

.ui-dialog p:nth-child(n+2) {
    text-transform: capitalize;
}

.ui-dialog p:first-of-type {
    font-weight: bold;
}

@media (max-width: 960px) {
    .container {
        grid-template-columns: 460px 460px;
    }
    .header {
        width: 920px;
    }
}


